body { 
    background-color: beige;
}

canvas {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 10px #888888;
    border-radius: 20px;
}